<h1 class="heading">The days when earthquake is felt in LA: </h1>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <p class="result-para">You asked us to get earthquake details in LA between <%=@date1%> and <%=@date2%></p>
    <p class = "result-para2"> Want to find out earthquake details for another day? <%= link_to "Change date", "/" , class: "result-link"%>
    <div class="table-container">
      <table class="table table-hover">
        <thead class="table-head">
          <tr>
            <th>Date & Time in PST</th>
            <th>Location of Earthquake (epicenter)</th>
            <th class="row-value">Magnitude at location</th>
            <th>Distance from LA</th>
            <th>Magnitude at LA</th>
          </tr>
        </thead>
        <tbody>
          <% @information.each do |info| %>
          <tr>
            <td><%= info.time.strftime("%F %I:%M%p") %></td>
            <td><%= info.place.partition('of ').last %></td>
            <!-- <td><%= info.place %></td> -->
            <td class="row-value"><%= info.mag %></td>
            <td><%= info.dist_from_la.round %> miles</td>
            <% if info.dist_from_la <= 100 %>
              <td class="row-value"><%= info.mag %></td>
            <% else %>
              <td class="row-value"><%= ((info.mag * 100)/info.dist_from_la).round(2) %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>